<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section>
        <form action="/add-student" method="post">
            <h2>Add Student</h2>
            <div>
                <label for="student-name">Name</label>
                <input id="student-name" name="student_name" type="text" required />
            </div>
            <div>
                <label for="student-grade">Grade</label>
                <input id="student-grade" name="grade" type="text" required />
            </div>
            <button type="submit">Add Student</button>
        </form>
    </section>

</body>
</html>