<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <section>
        <form action="/add-course" method="post">
            <h2>Add Course</h2>
            <div>
                <label for="course-name">Name</label>
                <input id="course-name" name="course_name" type="text" required />
            </div>

            <button type="submit">Add course</button>
        </form>
    </section>
</body>
</html>