<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School DB</title>
</head>
<body>
    <h1>Welcome to the School Database Management System</h1>

    <nav>
        <a href="/assign">Manage Assignments & Courses</a> |
        <a href="/teacher">Find Teacher</a> |
        <a href="/student">Find Student</a> |
        <a href="/add-teacher"> Add Teacher</a>
        <a href="/add-student"> Add Student</a>
        <a href="/add-course"> Add Course</a>
    </nav>



</body>
</html>